*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2e2c2c;
}

#container{
    width: 16%;
    height: 65vh;
    background-color: black;
    border-radius: 50px;
    border: 5px solid gray;
    margin: auto;
    margin-top: 150px;
}

.line{
    width: 30%;
    height: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #fff;
    margin: auto;
}

#display{
    width: 73%;
    padding: 55px;
    margin: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button{
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 8px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 50px;
    text-align: center;
    border: none;
    color: #fff;
}

.clear-keys{
    background-color: #bbb9b9;
}

.clear-keys:hover{
    background-color: #dddada;
}

.operator{
    background-color: #ff9800;
}

.operator:hover{
    background-color: #aa6907;
}

.btn{
    background-color: #383333;
}

.btn:hover{
    background-color: #5c5252;
}